{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "RBKmoney Dominant Cache API",
    "description": "## Описание\nRBKmoney Dominant Cache API.\n",
    "termsOfService": "https://rbk.money/",
    "contact": {
      "name": "RBKmoney support team",
      "email": "support@rbk.money",
      "url": "https://developer.rbk.money"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "paths": {
    "/categories": {
      "get": {
        "summary": "Получить список категорий",
        "tags": [
          "categories"
        ],
        "operationId": "getCategories",
        "responses": {
          "200": {
            "description": "Список категорий",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/DefaultLogicError"
          },
          "401": {
            "description": "Ошибка авторизации"
          },
          "404": {
            "description": "Заданный ресурс не найден"
          }
        }
      }
    },
    "/сashRegisterProviders": {
      "get": {
        "summary": "Получить список провайдеров чеков",
        "tags": [
          "сashRegisterProviders"
        ],
        "operationId": "getCashRegisterProviders",
        "responses": {
          "200": {
            "description": "Список провайдеров",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CashRegisterProvider"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/DefaultLogicError"
          },
          "401": {
            "description": "Ошибка авторизации"
          },
          "404": {
            "description": "Заданный ресурс не найден"
          }
        }
      }
    },
    "/documentTypes": {
      "get": {
        "summary": "Получить список типов документа",
        "tags": [
          "documentTypes"
        ],
        "operationId": "getDocumentTypes",
        "responses": {
          "200": {
            "description": "Список типов документа",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentType"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/DefaultLogicError"
          },
          "401": {
            "description": "Ошибка авторизации"
          },
          "404": {
            "description": "Заданный ресурс не найден"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "categories",
      "x-displayName": "Категории"
    },
    {
      "name": "сashRegisterProviders",
      "x-displayName": "Провайдеры чеков"
    },
    {
      "name": "documentTypes",
      "x-displayName": "Типы документа"
    }
  ],
  "servers": [
    {
      "url": "https://api.rbk.money/v1/dominant/cache"
    }
  ],
  "components": {
    "schemas": {
      "CategoryType": {
        "type": "object",
        "required": [
          "categoryType"
        ],
        "properties": {
          "categoryType": {
            "description": "Тип категории",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "test",
                "live"
              ]
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "required": [
          "categoryRef",
          "name",
          "description",
          "categoryType"
        ],
        "properties": {
          "categoryRef": {
            "description": "Идентификатор категории",
            "type": "string",
            "maxLength": 40,
            "minLength": 1
          },
          "name": {
            "description": "Название категории",
            "type": "string",
            "maxLength": 40,
            "minLength": 1
          },
          "description": {
            "description": "Описание категории",
            "type": "string",
            "maxLength": 128,
            "minLength": 1
          },
          "categoryType": {
            "$ref": "#/components/schemas/CategoryType"
          }
        }
      },
      "ProviderParameter": {
        "type": "object",
        "required": [
          "id",
          "description",
          "type",
          "isRequired"
        ],
        "properties": {
          "id": {
            "description": "Идентификатор параметра провайдера",
            "type": "string",
            "maxLength": 40,
            "minLength": 1
          },
          "description": {
            "description": "Описание параметра провайдера",
            "type": "string",
            "maxLength": 40,
            "minLength": 1
          },
          "type": {
            "description": "Тип параметра",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "stringType",
                "integerType",
                "urlType",
                "passwordType"
              ]
            }
          },
          "isRequired": {
            "type": "boolean"
          }
        }
      },
      "Proxy": {
        "type": "object",
        "required": [
          "proxyRef",
          "proxyOptions"
        ],
        "properties": {
          "proxyRef": {
            "description": "Идентификатор провайдера",
            "type": "string",
            "maxLength": 40,
            "minLength": 1
          },
          "proxyOptions": {
            "description": "Параметры провайдера",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CashRegisterProvider": {
        "type": "object",
        "required": [
          "сashRegisterProviderRef",
          "name",
          "description",
          "providerParameter",
          "proxy"
        ],
        "properties": {
          "categoryRef": {
            "description": "Идентификатор провайдера",
            "type": "string",
            "maxLength": 40,
            "minLength": 1
          },
          "name": {
            "description": "Название провайдера",
            "type": "string",
            "maxLength": 40,
            "minLength": 1
          },
          "description": {
            "description": "Описание провайдера",
            "type": "string",
            "maxLength": 128,
            "minLength": 1
          },
          "providerParameter": {
            "description": "Параметры провайдера",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderParameter"
            }
          },
          "proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        }
      },
      "DocumentType": {
        "type": "object",
        "required": [
          "documentTypeRef",
          "name",
          "description"
        ],
        "properties": {
          "documentTypeRef": {
            "description": "Идентификатор типа документа",
            "type": "string",
            "maxLength": 40,
            "minLength": 1
          },
          "name": {
            "description": "Название типа документа",
            "type": "string",
            "maxLength": 40,
            "minLength": 1
          },
          "description": {
            "description": "Описание типа документа",
            "type": "string",
            "maxLength": 128,
            "minLength": 1
          }
        }
      }
    },
    "responses": {
      "DefaultLogicError": {
        "description": "Ошибка бизнес-логики",
        "content": {
          "application/json": {
            "schema": {
              "description": "Ошибка в переданных данных",
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "code": {
                  "type": "string",
                  "enum": [
                    "invalidRequest",
                    "invalidDeadline",
                    "invalidPartyID"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}